<div (mousemove)='mouseDrag($event)' (mouseleave)='mouseUpAudio();mouseUpVolume();mouseDrag($event)' (mouseup)='mouseUpAudio();mouseUpVolume()'>
    <p style="position: absolute; left: {{timePointerPosition}}px; display:{{overBar}}; transform: translate(-50%,-200%); font-weight:bold; background-color:rgba(255,255,255, 0.8);
    padding:5px;">{{timePointer}}</p>
    <div style="position: absolute; transform: translateY(-100%); margin-top: 10px; margin-bottom: 10px; width: {{barAudioSize}}px; height: 10px; transform: translateY(-100%);
    padding-top: 5px; padding-bottom: 5px;" id='audio-bar-padding' (mousedown)='toClick($event)'></div>
    <div style="margin-top: 10px; margin-bottom: 10px; width: {{barAudioSize}}px; height: 10px; background-color: {{barColor}};" id='audio-bar'>
        <div style="position: relative; top: 50%; transform: translate(-50%,-50%); left: {{pointAudioPosition}}px; width: 20px; height: 20px; background-color: #384048; border-radius: 50%;" id='Meatball' (mousedown)='mouseDownAudio()'></div>
    </div>
    <div style="text-align: center;">
        <div style="margin-left: 5px; display: inline-block;">
            <button (click)='calculeNextThemePosition($event)' value="-1" style="background-color: transparent; margin-right: 2.5px;">Prev</button>
            <button (click)='calculeNextThemePosition($event)' value="1" style="background-color: transparent; margin-left: 2.5px; margin-right: 10px;">Next</button>
            <button (click)='(audio.paused) ? audio.play() : audio.pause()'style="background-color: {{playButtonColor}}; margin-left: 2.5px; margin-right: 2.5px;">Play</button>
            <!--<button (click)='audio.pause()'style="background-color: transparent; margin-left: 2.5px; margin-right: 2.5px;">Pause</button>-->
            <button (click)='stopAudio()'style="background-color: transparent; margin-left: 2.5px;">Stop</button>
            <!--<button (click)='decrementVol()' style="background-color: transparent; margin-right: 2.5px;">V-</button>-->
            <button (click)='muteVol()'style="background-color: {{muteColor}}; margin-left: 10px; margin-right: 2.5px;">Mute</button>
            <div style="vertical-align: bottom; transform: translateY(25%); display: inline-block; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; margin-right: 10px; width: {{barVolumeSize}}px; height: 5px; background-color: gray;" id='vol-bar' (mousedown)='toClick($event)'>
                <div style="position: relative; top: 50%; transform: translate(-50%,-50%); left: {{pointVolumePosition}}px; width: 15px; height: 15px; background-color: #384048; border-radius: 50%;" id='Baby-Meatball' (mousedown)='mouseDownVolume()'></div>
            </div>
            <!--<button (click)='incrementVol()'style="background-color: transparent; margin-left: 2.5px; margin-right: 2.5px;">V+</button>-->
            <!--<span [innerHTML]='vol'></span>-->
            <!--<button (click)='decremenTime()' style="background-color: transparent; margin-left: 2.5px; margin-right: 2.5px;">-</button>-->
            <!--<button (click)='incrementTime()' style="background-color: transparent; margin-left: 2.5px; margin-right: 2.5px;">+</button>-->
            <span style="margin-left: 2.5px; margin-right: 2.5px;">{{time}}</span>
            <button (click)='loopAudio()' style="background-color: {{loopColor}}; margin-left: 2.5px; margin-right: 2.5px;">loop</button>
            <select [(ngModel)]="speed" (change)='updateSpeed()' style="margin-left: 5px;">
                <option value="0.25">x0.25</option>
                <option value="0.5">x0.5</option>
                <option value="0.75">x0.75</option>
                <option value="1" selected='selected' >x1</option>
                <option value="1.25">x1.25</option>
                <option value="1.5">x1.5</option>
                <option value="1.75">x1.75</option>
                <option value="2">x2</option>
            </select>
            <br><br>
            <button (click)='randomReproduction()' style="background-color: {{randomColor}}; margin-left: 2.5px; margin-right: 10px;">Random</button>
            <button (click)='loopListReproduction()' style="background-color: {{loopListColor}}; margin-left: 2.5px; margin-right: 10px;">Loop-List</button>
        </div>
    </div>
</div>
